
#hero{
	z-index:-1;
	position:absolute;
	right:0;
	left:0;
	top:0;
	height:600px;
	overflow:hidden;
	min-width:1045px
}

.medium-hero #hero{
	height:500px
}

.panel-contrast p a{
	color:#fff;
	text-decoration:underline
}

.panel-contrast p a:hover{
	color:#e4f5f5
}

.panel-babu-muted{
	background-color:#79cccd
}

.text-white{
	color:white
}

.panel-hackberry{
	background-color:#7b0051
}

.form-inline{
	display:inline
}



#slideshow,#belong-anywhere-slideshow{
	margin:0
}

#slideshow li,#belong-anywhere-slideshow li{
	position:absolute;
	z-index:-5;
	height:100%;
	width:100%;
	overflow:hidden;
	min-width:1045px
}

#slideshow li.next,#belong-anywhere-slideshow li.next{
	z-index:90
}

#slideshow li.active,#belong-anywhere-slideshow li.active{
	display:block;
	z-index:100
}

#slideshow li{
	background:#000
}

#slideshow li img{
	position:absolute;
	bottom:0
}

#slideshow li.next>img{
	-webkit-animation:fadein 50ms 1 ease-in;
	-moz-animation:fadein 50ms 1 ease-in
}

#slideshow li.next.right>img{
	-webkit-animation:fadein 50ms 1 ease-in;
	-moz-animation:fadein 50ms 1 ease-in
}

#belong-anywhere-container{
	height:600px;
	width:100%;
	position:relative;
	overflow:hidden
}

#belong-anywhere-container .slideshow-scroll-next{
	right:20px;
	transition:right 1000ms ease
}

#belong-anywhere-container .slideshow-scroll-next.hidden{
	right:-40px
}

#belong-anywhere-container .slideshow-scroll-next:hover{
	color:#fff
}

#belong-anywhere-container .slideshow-scroll-prev{
	left:20px;
	transition:left 1000ms ease
}

#belong-anywhere-container .slideshow-scroll-prev.hidden{
	left:-40px
}

#belong-anywhere-container .slideshow-scroll-prev:hover{
	color:#fff
}

.slideshow-scroll{
	opacity:0.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter:alpha(opacity=70);
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
	transition:opacity 0.3s;
	position:absolute;
	margin-top:-25px;
	top:50%;
	z-index:161;
	color:white
}

.slideshow-scroll .icon-chevron-left,.slideshow-scroll .icon-chevron-right{
	font-weight:bold
}

.slideshow-scroll:hover{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100)
}

.faded-out{
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0)
}

.location-wrapper{
	position:relative;
	display:inline-block
}

#enter_location_error_message{
	position:absolute;
	top:42px;
	left:0;
	width:290px;
	background:rgba(255,255,255,0.8);
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	padding:5px 8px
}

.search-area{
	position:relative;
	height:550px;
	width:100%;
	min-width:1045px
}

.search-area .checkin,.search-area .checkout{
	width:130px
}

.medium-hero .search-area{
	height:450px
}

.intro-area{
	padding-bottom:102px
}

#location{
	width:290px
}

.uppercase{
	text-transform:uppercase
}

#transition_helper{
	position:relative;
	width:100%
}

body.p1 .flash-container{
	position:absolute;
	right:50px;
	left:50px;
	top:75px;
	z-index:1001
}

.location{
	border-top-right-radius:0;
	border-bottom-right-radius:0
}

.checkin,.checkout,#guests{
	border-radius:0
}

#search_form input,#guests,#submit_location{
	height:44px
}

#submit_location{
	border-top-left-radius:0;
	border-bottom-left-radius:0
}

.bottom-search-area{
	background:#000;
	background:rgba(0,0,0,1);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:30px
}

.btn-semi-transparent{
	background:rgba(255,255,255,0.5);
	border-style:none
}

.btn-semi-transparent:hover{
	background-color:rgba(0,0,0,0.35)
}

.how-it-works-section{
	width:100%
}

.how-it-works-section.overlay{
	position:absolute;
	top:-750px;
	z-index:1000;
	padding-top:30px
}

.how-it-works-section .panel-close{
	position:relative;
	right:30px;
	color:#007a87;
	opacity:0.6
}

.how-it-works-section .panel-close:hover{
	opacity:1
}

#hiw-steps{
	height:310px
}

.p1 #hiw-steps-lazy{
	display:none
}

.hiw-step{
	height:310px;
	background:url(https://a1.muscache.com/airbnb/static/landing_pages/pretzel/how_it_works-4d36c1438b9062a5d08839adcf22a3c7.png) center 0 no-repeat
}

.hiw-step.step2{
	background-position:center -310px
}

.hiw-step.step3{
	background-position:center -620px
}

.responsive-hiw-step-wrapper{
	max-width:283px;
	margin:0 auto
}

.responsive-hiw-step{
	background:url(https://a1.muscache.com/airbnb/static/landing_pages/pretzel/how_it_works-4d36c1438b9062a5d08839adcf22a3c7.png) 0 0 no-repeat;
	padding-bottom:109.54064%;
	background-size:100%
}

.responsive-hiw-step.step2{
	background-position:0 50%
}

.responsive-hiw-step.step3{
	background-position:0 100%
}

.discovery-card-wrapper{
	height:344px
}

.discovery-card-blank{
	border-color:#fff
}

.discovery-loading-icon{
	color:#dce0e0
}

.discovery-card{
	background-color:#f5f5f5;
	background-size:cover;
	background-position:center
}

.discovery-listing{
	opacity:0.9
}

@media (max-width: 1045px){
	#pretzel-video{
		height:100%;
		width:auto
	}

}

.fullscreen-mode{
	overflow:hidden;
	height:100%
}

.fullscreen-video-player{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:-1001;
	background-color:#000;
	transition:opacity 800ms ease
}

.fullscreen-video-player.hidden{
	opacity:0
}

.media-button:hover{
	cursor:pointer
}

#play-button-belo,#play-button-belong{
	position:absolute;
	margin:auto;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:inline-block;
	width:100px;
	height:100px
}

#close-fullscreen-belo,#close-fullscreen-belong{
	cursor:pointer;
	position:absolute;
	color:#82888a;
	right:50px;
	top:50px;
	font-size:20px;
	text-decoration:none
}

#belo-screen{
	background-size:cover;
	background-image:url(https://a2.muscache.com/airbnb/static/homepages/belo-vid-c0e438cac2685ffcb5d5abc18fba54d4.jpg);
	position:relative
}

#belo-screen .slideshow-scroll{
	font-size:48px;
	color:rgba(255,255,255,0.7);
	position:absolute;
	margin-top:-25px;
	top:50%
}

#belong-anywhere{
	background-size:cover;
	background-image:url(https://a1.muscache.com/airbnb/static/homepages/belong-vid-f0f6e1f32d0d52385590dd7e073c6c63.jpg);
	position:relative;
	background-position:center
}

#belong-anywhere .slideshow-scroll{
	font-size:48px;
	color:rgba(255,255,255,0.7);
	position:absolute;
	margin-top:-25px;
	top:50%
}

#belo-play-button{
	height:100px;
	position:relative;
	display:inline-block;
	transition:bottom 1000ms ease;
	bottom:0;
	cursor:pointer
}

#belo-play-button.hidden{
	bottom:-270px
}

.icon-video-play,.icon-video-pause{
	font-size:100px;
	color:rgba(255,255,255,0.7)
}

.icon-video-play:hover,.icon-video-pause:hover{
	color:#fff
}

#create-slide{
	background-color:#ffb400;
	padding-top:94px
}

#create-slide .create-hero{
	display:block;
	max-width:1378px
}

#create-slide .create-body{
	width:1378px;
	left:328px;
	position:relative
}

#create-slide .create-text{
	margin-left:44px
}

#create-slide .text-opaque{
	opacity:0.7
}

.community-container{
	max-width:1400px
}

.community-container .panel-image{
	height:492px;
	position:relative
}

.community-container .panel-image a{
	color:#fff;
	text-decoration:underline
}

.community-container li{
	opacity:1;
	top:0;
	transition:opacity 0.8s ease, top 800ms ease
}

.community-container li.hidden{
	opacity:0;
	top:20px
}

.community-container li.transition-delay-100{
	-webkit-transition-delay:100ms;
	transition-delay:100ms
}

.community-container li.transition-delay-400{
	-webkit-transition-delay:400ms;
	transition-delay:400ms
}

.community-container li.transition-delay-700{
	-webkit-transition-delay:700ms;
	transition-delay:700ms
}

.community-container li.transition-delay-1000{
	-webkit-transition-delay:1000ms;
	transition-delay:1000ms
}

.community-container .background-create-card{
	background-color:#00d1c1
}

.community-container .create-img{
	max-width:230px;
	margin-left:5px
}

.community-container .background-share-card{
	background:#8ce071 url(https://a2.muscache.com/airbnb/static/homepages/instagram-8f78385f6159e2d616b50c4f5bbd2be3.jpg) no-repeat center top;
	background-size:contain
}

.community-container .share-card .top-img{
	background-image:url(https://a2.muscache.com/airbnb/static/homepages/share-card.png) no-repeat center top;
	background-size:cover;
	height:344px
}

.community-container .share-card .share-body{
	margin:-1px;
	padding:40px
}

.community-container .share-card .lima{
	background-color:#8ce071
}

.community-container .community-photo-card{
	background-size:cover;
	background-position:50% 25%;
	padding-bottom:80px
}

.community-container .community-photo-card .card-header{
	position:relative;
	z-index:1;
	display:inline-block;
	padding:10px 30px;
	min-width:120px
}

.community-container .background-hosting-card{
	background-image:url(https://a0.muscache.com/airbnb/static/homepages/hosting-71c0210d137e0a207baf1c214dde7ebd.jpg);
	background-size:cover
}

.community-container .hosting-card .card-header{
	background-color:#7b0051
}

.community-container .background-traveling-card{
	background-image:url(https://a1.muscache.com/airbnb/static/homepages/traveling-d79ea0446bf011f0c743d57a389329a8.jpg);
	background-size:cover
}

.community-container .traveling-card .card-header{
	background-color:#007a87
}

@media all and (max-width: 480px){
	.community-container>.col-3{
		width:100%
	}

}

@media all and (min-width: 481px) and (max-width: 1279px){
	.community-container>.col-3{
		width:50%
	}

	.community-container{
		width:800px
	}

}

@media all and (min-width: 1280px){
	.community-container>.col-3{
		width:25%
	}

}


.icon-alipay{
	background-image:url(https://a2.muscache.com/airbnb/static/homepages/alipay-d02c57c43b68c83632a5ff50d8333a21.png);
	width:120px;
	height:55px;
	background-size:100% auto;
	display:inline-block
}

.darken-on-hover-container{
	background:#000;
	padding:0
}

.darken-on-hover-container .darken-on-hover{
	-webkit-transition:opacity ease-in-out 200ms;
	-moz-transition:opacity ease-in-out 200ms;
	-o-transition:opacity ease-in-out 200ms;
	transition:opacity ease-in-out 200ms
}

.darken-on-hover-container u{
	text-decoration:none;
	-webkit-transition:text-decoration ease-in-out 200ms;
	-moz-transition:text-decoration ease-in-out 200ms;
	-o-transition:text-decoration ease-in-out 200ms;
	transition:text-decoration ease-in-out 200ms
}

.darken-on-hover-container:hover u{
	text-decoration:underline
}

.darken-on-hover-container:hover .darken-on-hover{
	opacity:0.85
}

.strong{
	font-weight:bold
}

.weibo-logo{
	display:inline-block;
	width:102px;
	height:35px;
	background:url(https://a0.muscache.com/airbnb/static/landing_pages/c1/weibo-logo.png) 0 0 no-repeat
}

.media-round.pull-up{
	margin-top:-80px
}
