<!DOCTYPE html>
<html lang="en"  class=" clickberry-extension clickberry-extension-standalone">
<head>
  <link type="text/css" rel="stylesheet" href="/static/estilos.css" />
  <link type="text/css" rel="stylesheet" href="/static/estilos2.css" />
  <link type="text/css" rel="stylesheet" href="/static/social.css" />
  <link type="text/css" rel="stylesheet" href="/static/cssstyles.css" />
  <link type="text/css" rel="stylesheet" href="/static/fonts.css" />
  
	<link type="image/x-icon" href="imagenes/pyico.ico" rel="icon" 
</head>


 

  
  {% block content %}
  {% endblock %}
  


</html>

